@*@using MVCExamShop.DAL
@model List<Category>*@

<div class="box category">
    <div class="box-heading">Categories</div>
    <div class="box-content">
        <ul class="box-category treeview-list treeview">
            <li>
                <a href="@Url.Action("Men", "Product")">Men</a>
            </li>
            <li>
                <a href="index1647.html?route=product/category&amp;path=25">Women</a>
            </li>
            <li>
                <a href="index70a9.html?route=product/category&amp;path=57">Baby &amp; Kids</a>
            </li>
        </ul>
    </div>
</div>
