<aside id="column-left" class="col-sm-3 hidden-xs">
    @Html.Partial("Information/_LeftNavCategories")

    <!-- <div class="swiper-viewport"> -->
    <div id="banner0" class="single-banner">
        <!-- <div class="swiper-wrapper"> -->
        <div class="item">
            <a href="#">
                <img src="/Content/image/cache/catalog/Left-Banner-265x322.jpg" alt="LeftBanner1" class="img-responsive" />
            </a>
        </div>
        <!-- </div> -->
        <!-- If we need pagination -->
        <!-- <div class="swiper-pagination"></div> -->
    </div>
    <!-- </div> -->
    <script type="text/javascript">
<!--
                $('#banner0').swiper({
                    effect: 'fade',
                    autoplay: 2500,
                    pagination: '.swiper-pagination',  // If we need pagination
                    autoplayDisableOnInteraction: false
                });
                --></script>
    <div class="box">
        <div class="box-heading">Specials</div>
        <div class="box-content">

            <div class="box-product  productbox-grid" id="special-grid">
                <div class="product-items">
                    <div class="product-block product-thumb transition">
                        <div class="product-block-inner">
                            <div class="image">
                                <a href="indexcae8.html?route=product/product&amp;product_id=41"><img src="/Content/image/cache/catalog/5-80x100.jpg" alt="Asian Shoes Lr-71 Women's " title="Asian Shoes Lr-71 Women's " class="img-responsive" /></a>

                                <span class="saleicon sale">Sale</span>
                            </div>
                            <div class="product-details">
                                <div class="caption">
                                    <h4><a href="indexcae8.html?route=product/product&amp;product_id=41">Asian Shoes Lr-71 Women's </a></h4>
                                    <p class="price">
                                        <span class="price-new">$86.00</span> <span class="price-old">$122.00</span>
                                        <span class="price-tax">Ex Tax: $70.00</span>
                                    </p>
                                </div>

                                <div class="button-group">
                                    <button type="button" class="addtocart" onclick="cart.add('41 ');">Add to Cart </button>
                                    <button class="wishlist" type="button" data-toggle="tooltip" title="Add to Wish List " onclick="wishlist.add('41 ');"><i class="fa fa-heart"></i></button>
                                    <button class="compare" type="button" data-toggle="tooltip" title="Add to Compare " onclick="compare.add('41 ');"><i class="fa fa-exchange"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-items">
                    <div class="product-block product-thumb transition">
                        <div class="product-block-inner">
                            <div class="image">
                                <a href="indexf073.html?route=product/product&amp;product_id=30"><img src="/Content/image/cache/catalog/2-80x100.jpg" alt="Beautiful Embroidered Black Abaya " title="Beautiful Embroidered Black Abaya " class="img-responsive" /></a>

                                <span class="saleicon sale">Sale</span>
                            </div>
                            <div class="product-details">
                                <div class="caption">
                                    <h4><a href="indexf073.html?route=product/product&amp;product_id=30">Beautiful Embroidered Black Abaya </a></h4>
                                    <div class="rating">
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                    </div>
                                    <p class="price">
                                        <span class="price-new">$98.00</span> <span class="price-old">$122.00</span>
                                        <span class="price-tax">Ex Tax: $80.00</span>
                                    </p>
                                </div>

                                <div class="button-group">
                                    <button type="button" class="addtocart" onclick="cart.add('30 ');">Add to Cart </button>
                                    <button class="wishlist" type="button" data-toggle="tooltip" title="Add to Wish List " onclick="wishlist.add('30 ');"><i class="fa fa-heart"></i></button>
                                    <button class="compare" type="button" data-toggle="tooltip" title="Add to Compare " onclick="compare.add('30 ');"><i class="fa fa-exchange"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-items">
                    <div class="product-block product-thumb transition">
                        <div class="product-block-inner">
                            <div class="image">
                                <a href="indexbb02.html?route=product/product&amp;product_id=42"><img src="/Content/image/cache/catalog/1-80x100.jpg" alt="Butterflies Women's Handbag " title="Butterflies Women's Handbag " class="img-responsive" /></a>

                                <span class="saleicon sale">Sale</span>
                            </div>
                            <div class="product-details">
                                <div class="caption">
                                    <h4><a href="indexbb02.html?route=product/product&amp;product_id=42">Butterflies Women's Handbag </a></h4>
                                    <p class="price">
                                        <span class="price-new">$110.00</span> <span class="price-old">$122.00</span>
                                        <span class="price-tax">Ex Tax: $90.00</span>
                                    </p>
                                </div>

                                <div class="button-group">
                                    <button type="button" class="addtocart" onclick="cart.add('42 ');">Add to Cart </button>
                                    <button class="wishlist" type="button" data-toggle="tooltip" title="Add to Wish List " onclick="wishlist.add('42 ');"><i class="fa fa-heart"></i></button>
                                    <button class="compare" type="button" data-toggle="tooltip" title="Add to Compare " onclick="compare.add('42 ');"><i class="fa fa-exchange"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <span class="special_default_width" style="display:none; visibility:hidden"></span>

</aside>
